<!doctype html>
<html>
	<head>
		<title>BookFace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/bootstrap.min.css" rel="stylesheet">
	
	<style>
	.demo-but{
		margin-top: 5px;
		margin-bottom: 15px;
	}
	.logo-title{
		margin-top: 10px;
	}
	</style>
	</head>
	<body>
	
		
		
		<div class="jumbotron vertical-center">
			<div class="container">
				<h1 class="logo-title">BookFace Home</h1>
				
				<i> Welcome to BookFace</i>
			</div>
		</div>
	</body>
</html>